<!DOCTYPE html>
<html style="background-color:gray">
  <body>
    <h1>Twitch Waltuh</h1>

    <a id="autoplay-link" href="#">Click this to enable autoplay sound</a>

    <table style="border:3px solid black">'
      <thead>
        <tr>
          <th>Sound</th>
          <th>Connection Status</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>
            <span style="color:red" id="autoplay-indication">SOUND IS OFF</span>
          </th>
          <th>
            <span style="color:red" id="connection-indiciation">LOST CONNECTION</span>
          </th>
        </tr>
      </tbody>
    </table>
    <br />
    <br />
    <table style="border:3px solid black" id="randomizer">
      <thead>
        <tr>
          <th>
            Randomizer triggered by (latest last):
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <table>

    <br />
    <br />

    <table style="border:3px solid black" id="combo">
      <thead>
        <tr>
          <th>
            Combo triggered by (latest last):
          </th>
          <th>
           Word:
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <table>

    <br />
    <br />

    <table style="border:3px solid black" id="votekick">
      <thead>
        <tr>
          <th>
            VoteKick started by (latest last):
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <table>

    <br />
    <br />

    <table style="border:3px solid black" id="vip">
      <thead>
        <tr>
          <th>
            Vip triggered by (latest last):
          </th>
          <th>
           Word:
          </th>
        </tr>
      </thead>
      <tbody>
      </tbody>
    <table>

    <br />
    <br />

    <div id="sunnies">
      <p>😎 Count: <span id="sunnies-count">0</span></p>
    </table>
  </body>

  <script type="text/javascript">
    var vipAudioMap = new Map();
    var comboAudio = new Array();

    <% if @tls %>
      var comboAudioSound = new Audio('https://' + window.location.host + '/waltuh');
      var sunniesAudio = new Audio('https://' + window.location.host + '/hutlaw');
      var randomizerAudio = new Audio('https://' + window.location.host + '/waltuh');
      vipAudioMap.set('97', new Audio('https://' + window.location.host + '/97'));
      vipAudioMap.set('jesse', new Audio('https://' + window.location.host + '/jesse'));
      vipAudioMap.set('cancer', new Audio('https://' + window.location.host + '/cancer'));
      vipAudioMap.set('tumagerkin', new Audio('https://' + window.location.host + '/tumagerkin'));
      vipAudioMap.set('pepsi', new Audio('https://' + window.location.host + '/can_opening'));
      vipAudioMap.set('oklg', new Audio('https://' + window.location.host + '/oklg'));
    <% else %>
      var comboAudioSound = new Audio('http://' + window.location.host + '/waltuh');
      var sunniesAudio = new Audio('http://' + window.location.host + '/hutlaw');
      var randomizerAudio = new Audio('http://' + window.location.host + '/waltuh');
      vipAudioMap.set('97', new Audio('http://' + window.location.host + '/97'));
      vipAudioMap.set('jesse', new Audio('http://' + window.location.host + '/jesse'));
      vipAudioMap.set('cancer', new Audio('http://' + window.location.host + '/cancer'));
      vipAudioMap.set('tumagerkin', new Audio('http://' + window.location.host + '/tumagerkin'));
      vipAudioMap.set('pepsi', new Audio('http://' + window.location.host + '/can_opening'));
      vipAudioMap.set('oklg', new Audio('http://' + window.location.host + '/oklg'));
    <% end %>

    for (var i = 0; i < 3; i++) {
      csn = comboAudioSound.cloneNode();
      csn.volume = 0.4;
      csn.load();
      comboAudio.push(csn);
    }
    comboAudioSound = null;

    vipAudioMap.get('tumagerkin').volume = 0.2;
    randomizerAudio.volume = 0.4;
    sunniesAudio.volume = 0.4;

    function sleep(ms) {
          return new Promise(resolve => setTimeout(resolve, ms));
    };

    async function handle(message, randomizerAudio, comboAudio) {
      elem = document.getElementById(message[0])
      if (elem.nodeName == "TABLE") {
        tbody = elem.getElementsByTagName('tbody')[0]
        tr = tbody.insertRow();
      }

      switch(message[0]) {
        case "randomizer":
          td = tr.insertCell().appendChild(document.createTextNode(message[1]));
          randomizerAudio.play();
          break;
        case "combo":
          tr.insertCell().appendChild(document.createTextNode(message[1]));
          tr.insertCell().appendChild(document.createTextNode(message[2]));
          for(var i = 0; i < comboAudio.length; i++) {
            comboAudio[i].play();
            await sleep(500);
          }
          break;
        case "vip":
          tr.insertCell().appendChild(document.createTextNode(message[1]));
          tr.insertCell().appendChild(document.createTextNode(message[2]));
          vipAudioMap.get(message[2]).play();
          break;
        case "votekick":
          tr.insertCell().appendChild(document.createTextNode(message[1]));
          comboAudio[0].play();
          comboAudio[1].play();
          comboAudio[2].play();
          break;
        case "sunnies":
          count = document.getElementById("sunnies-count");
          count.innerHTML = Number(count.innerHTML) + 1;
          sunniesAudio.play();
          break;
        default:
          console.log("Not implemented yet");
          break;
      }
    };

    window.onload = function() {(
      function() {
        <% if @tls %>
          var ws = new WebSocket('wss://' + window.location.host + window.location.pathname);
        <% else %>
          var ws = new WebSocket('ws://' + window.location.host + window.location.pathname);
        <% end %>

        ws.onopen = function()  {
          indication = document.getElementById("connection-indiciation");
          indication.innerHTML = "CONNECTED";
          indication.style = "color:green";
        };

        ws.onclose = function()  {
          indication = document.getElementById("connection-indiciation");
          indication.innerHTML = "NOT CONNECTED";
          indication.style = "color:red";
        };

        ws.onmessage = function(m) {
          console.log(m.data);
          var message = m.data.split(",")
          handle(message, randomizerAudio, comboAudio);
        };

        document.getElementById("autoplay-link").onclick = function() {
          indication = document.getElementById("autoplay-indication");
          indication.innerHTML = "SOUND IS ON";
          indication.style = "color:green";
        }
      })();
    }
  </script>
</html>
